{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

<!-- Page Header -->
{% image self.banner_image fill-4000x1000-c100 as img %}
<header class="masthead" style="background-image: url('{{ img.url }}')">
    <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                  <br>
                  {% if self.banner_title %}
                      <h1>{{ self.banner_title }}</h1>
                  {% endif %}
                  {% if self.banner_subtitle %}
                    <span class="subheading">{{ self.banner_subtitle}}</span>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<hr>

<!-- About box -->
{% image self.about_image fill-640x480-c100 as img2 %}
<div class="container">
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
<div class="jumbotron text-center hoverable p-4" style="background-color: white;">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-5">
      <!-- Featured image -->
      <div class="view overlay">
        <img src="{{ img2.url }}" class="img-fluid rounded-circle" alt="{{ img2.alt }}">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">
        <!-- Excerpt -->
        <h4 class="h3 mb-4">{{ self.about_title }}</h4>
        {{ self.about_text|richtext }}
        <div class="clearfix text-center">
        <button class="btn btn-info">Let's talk!</button>
        </div>
      </div>
      <!-- Grid column -->
</div>
</div>
</div>
</div>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <hr>
          <h3><center><i>Featured</i></center></h3>
                <div class="post-preview">
                    <a href="/">
                        <h2 class="post-title">
                            {{ self.featured_blog_post }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ self.featured_blog_post.specific.description }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                    <a href="#">{{ self.featured_blog_post.specific.author }}</a>
                    {{ self.featured_blog_post.specific.last_published_at.date }}</p>
                </div>
        </div>
    </div>
</div>


<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <hr>
          <h3><center><i>Latest</i></center></h3>
            {% for blogitem in posts %}
                <div class="post-preview">
                    <a href="{{ blogitem.url }}">
                        <h2 class="post-title">
                            {{ blogitem.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ blogitem.description }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                    <a href="#">{{ blogitem.author }}</a>
                    {{ blogitem.last_published_at.date }}</p>
                </div>
            {% endfor %}

            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="/blog">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
