{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}

<!-- Page Header -->
{% image self.banner_image max-909x405 as img %}
<header class="masthead" style="background-image: url('{{ img.url }}')">
    <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ self.banner_title }}</h1>
                    <span class="subheading">{{ self.banner_subtitle}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for blogitem in posts %}
                <div class="post-preview">
                    <a href="{{ blogitem.url }}">
                        <h2 class="post-title">
                            {{ blogitem.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ blogitem.description }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                    <a href="#">{{ blogitem.author }}</a>
                    {{ blogitem.last_published_at }}</p>
                </div>
            {% endfor %}

            <hr>
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="/blog">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
