{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags blogapp_tags %}
{% block content %}


<!-- Page Header -->
{% image self.banner_image max-1900x1265 as img %}
<header class="masthead" style="background-image: url('{{ img.url }}')">
<div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ self.display_title }}</h1>
                    <span class="meta">Posted by
                     <a href="#">{{ self.author }}</a>
                     on {{ self.last_published_at.date }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--  -->
<div class="container">
    <div class="row flex-md-row-reverse my-5">
        <!-- For the panel on the right, -->
        <div class="col-md-3 mx-auto my-3">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">Categories</h2>
                    {% for category in categories %}
                        <a style="display: block;"{% if category not in self.category.all %}class="text-muted"{% endif %} href="/blog/?category={{ category.slug }}"> {{ category }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <h2 class="text-center">Related</h2>
                    {% for post in related %}
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- For the panel on the left -->
        <div class="col-md-9">
            <!-- Post Content -->
            <article class="my-2">
                <h4>{{ self.description }}</h4>
                {% for block in page.streams %}
                    {% include_block block %}
                {% endfor %}
            </article>
            <!-- Show disqus comments -->
            {% show_comments %}
        </div>
    </div>
</div>


{% endblock %}
