{% extends "base.html" %}
{% load wagtailcore_tags widget_tweaks wagtailimages_tags %}

{% block content %}

{% image self.banner_image max-1900x1265 as img %}
<header class="masthead" style="background-image: url('{{ img.url }}')">
<div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <br>
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<!-- Streamfield content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="">
                {% for block in page.content %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--
<div class="container">
        <div class="col-8 mx-auto my-5">
            <div class="row">
            <h2>You need your website to bring you clients</h2>
            <p>I build you an effective web presence to generate you more leads<br>
            You provide a business goal and I measure success by the outcome of that goal.</p>
            <h2>You might even end up with a nice looking website, too!</h2>
            </div>
            <br>
            <div class="row">
                <div class="col-4 text-center">
                    <b>#1 Free consultation</b>
                    <span class="fa-stack fa-lg">

                        <i class="fas fa-phone-square fa-stack-4x "></i>
                    </span>
                    <br>
                    <p>We discuss your business goal for your website and whether my services will be a good fit for you</p>
                </div>
                <div class="col-4 text-center">
                    <b>#2 Free consultation</b>
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
                    </span>
                    <br>
                    <p>We discuss your business goal for your website and whether my services will be a good fit for you</p>
                </div>
                <div class="col-4">
                    <h1>First thing</h1>
                </div>
            </div>
        </div>
</div>-->

<div class="container">
    <br>
    <!-- TrustBox widget - Micro Review Count -->
    <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5d7e75fdc29b0e0001b46396" data-style-height="24px" data-style-width="100%" data-theme="light">
        <a href="https://www.trustpilot.com/review/tobyd.net" target="_blank" rel="noopener">Trustpilot</a>
    </div> <!-- End TrustBox widget -->
</div>
<p>
    {{ self.intro|richtext }}
</p>
<div class="container text-dark">
    <div class="col-lg-8 col-md-10 mx-auto">
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class+="form-control" %}
                <small id="emailHelp" class="form-text text-muted">{{ field.help_text }}</small>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="col-lg-8 col-md-10 mx-auto text-center">
        <div class="row">
            {% for cycle in self.stack_images.all %}
            {% image cycle.stack_image fill-150x150 as img %}
                <div class="col-md-2 col-4">
                    <a{% if cycle.stack_url %} href="{{ cycle.stack_url }}" target="_blank"{% endif %}><img src="{{ img.url }}" alt="{{ img.alt }}" class="img-thumbnail border-0"></a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- TrustBox script --> <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script> <!-- End TrustBox script -->
{% endblock %}
