{% load wagtailimages_tags %}

{% image self.banner_image max-1900x1265 as img %}
<header class="masthead" style="background-image: url('{{ img.url }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading my-4">
                    {% if self.banner_title %}
                        <h1>{{ self.banner_title }}</h1>
                    {% elif self.custom_title %}
                        <h1>{{ self.custom_title }}</h1>
                    {% elif self.title %}
                        <h1>{{ self.title }}</h1>
                    {% endif %}
                    {% if self.banner_subtitle %}
                      <span class="subheading">{{ self.banner_subtitle}}</span>
                    {% elif category %}
                    <span class="subheading"> Filtered by: {{ category }} </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!--
{% image self.banner_image fill-4000x1000-c100 as img %}
<header class="masthead" style="background-image: url('{{ img.url }}')">
    <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                  <br>
                  {% if self.banner_title %}
                      <h1>{{ self.banner_title }}</h1>
                  {% endif %}
                  {% if self.banner_subtitle %}
                    <span class="subheading">{{ self.banner_subtitle}}</span>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<hr>
-->
